@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>If you wanna laugh your socks off, you have come to right place</p>
</div>
